*{
	font-family: Verdana;
}
body{
	background-color: black;
	text-align: center;
}
h1{
	color:white;
	font-size: 50px;
	font-weight: normal;
	text-align: center;
}
.link{
	text-align: center;
}

.link a {
	color: aquamarine;
	font-size: 16px;
}
h2{
	font-weight: 300;
	font-size: 42px;
	color: white;
}
.text{
	color: gray;
	font-size: 21px;
}
footer{
	text-align: right;
}